In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('student-por.csv')

http://www3.dsi.uminho.pt/pcortez/student.pdf
https://archive.ics.uci.edu/ml/datasets/student%2Bperformance#

In [3]:
print('Rows and Columns :', df.shape,'\n' )

print('INFO:')
print(df.info(), '\n')
print('df Columns:', df.columns, '\n')
print('Unique Values :','\n', df.nunique(), '\n')

Rows and Columns : (649, 33)

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 33 columns):
school        649 non-null object
sex           649 non-null object
age           649 non-null int64
address       649 non-null object
famsize       649 non-null object
Pstatus       649 non-null object
Medu          649 non-null int64
Fedu          649 non-null int64
Mjob          649 non-null object
Fjob          649 non-null object
reason        649 non-null object
guardian      649 non-null object
traveltime    649 non-null int64
studytime     649 non-null int64
failures      649 non-null int64
schoolsup     649 non-null object
famsup        649 non-null object
paid          649 non-null object
activities    649 non-null object
nursery       649 non-null object
higher        649 non-null object
internet      649 non-null object
romantic      649 non-null object
famrel        649 non-null int64
freetime      649 non-null int64
goout         649 non-null int64
Dalc          649 non-null int64
Walc          649 non-null int64
health        649 non-null int64
absences      649 non-null int64
G1            649 non-null int64
G2            649 non-null int64
G3            649 non-null int64
dtypes: int64(16), object(17)
memory usage: 167.4+ KB
None

df Columns: Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

Unique Values :
 school         2
sex            2
age            8
address        2
famsize        2
Pstatus        2
Medu           5
Fedu           5
Mjob           5
Fjob           5
reason         4
guardian       3
traveltime     4
studytime      4
failures       4
schoolsup      2
famsup         2
paid           2
activities     2
nursery        2
higher         2
internet       2
romantic       2
famrel         5
freetime       5
goout          5
Dalc           5
Walc           5
health         5
absences      24
G1            17
G2            16
G3            17
dtype: int64

In [4]:
pd.set_option("display.max_columns", None)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,0,yes,no,no,no,yes,yes,yes,no,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,no,no,yes,yes,no,no,4,3,2,1,2,5,0,11,13,13

In [5]:
df['Mjob'].value_counts()

other       258
services    136
at_home     135
teacher      72
health       48
Name: Mjob, dtype: int64

In [6]:
df['Fjob'].value_counts()

other       367
services    181
at_home      42
teacher      36
health       23
Name: Fjob, dtype: int64

In [7]:
df['failures'].value_counts()

0    549
1     70
2     16
3     14
Name: failures, dtype: int64

Converting all binary non-numeric variables to numeric variables

In [8]:
df['school'].where(df['school']=='GP', 0, inplace = True)
df['school'].where(df['school']=='MS', 1, inplace = True)

df['sex'].where(df['sex']=='M', 0, inplace = True)
df['sex'].where(df['sex']=='F', 1, inplace = True)

df['address'].where(df['address'] == 'U', 0, inplace = True)
df['address'].where(df['address']=='R', 1, inplace = True)

df['famsize'].where(df['famsize'] == 'LE3', 1, inplace = True)
df['famsize'].where(df['famsize']=='GT3', 0, inplace = True)

df['Pstatus'].where(df['Pstatus']=='T', 0, inplace = True)
df['Pstatus'].where(df['Pstatus']=='A', 1, inplace = True)

df['schoolsup'].where(df['schoolsup']=='Yes',0, inplace = True)
df['schoolsup'].where(df['schoolsup']=='No', 1, inplace = True)

df['famsup'].where(df['famsup']=='Yes', 0, inplace = True)
df['famsup'].where(df['famsup']=='No', 1, inplace = True)

df['paid'].where(df['paid']=='Yes', 0, inplace = True)
df['paid'].where(df['paid']=='No', 1, inplace = True)

df['activities'].where(df['activities']=='Yes', 0, inplace = True)
df['activities'].where(df['activities']=='No', 1, inplace = True)

df['nursery'].where(df['nursery']=='Yes', 0, inplace = True)
df['nursery'].where(df['nursery']=='No', 1, inplace = True)

df['higher'].where(df['higher']=='Yes', 0, inplace = True)
df['higher'].where(df['higher']=='No', 1, inplace = True)

df['internet'].where(df['internet']=='Yes', 0, inplace = True)
df['internet'].where(df['internet']=='No', 1, inplace = True)

df['romantic'].where(df['romantic']=='Yes', 0, inplace = True)
df['romantic'].where(df['romantic']=='No', 1, inplace = True)

In [9]:
df['reason'].value_counts()

course        285
home          149
reputation    143
other          72
Name: reason, dtype: int64

Binning all nominal variables to numeric bins

In [10]:
conditions=[df['Mjob'] == 'at_home',
          df['Mjob'] == 'services',
          df['Mjob'] == 'teacher',
          df['Mjob'] == 'health',
           df['Mjob']== 'other']
choices = [1,2,3,4,5]
df['Mjob'] = np.select(conditions, choices)

conditions=[df['Fjob'] == 'at_home',
          df['Fjob'] == 'services',
          df['Fjob'] == 'teacher',
          df['Fjob'] == 'health',
           df['Fjob']== 'other']
choices = [1,2,3,4,5]
df['Fjob'] = np.select(conditions, choices)

conditions=[df['reason'] == 'home',
          df['reason'] == 'reputation',
          df['reason'] == 'course',
           df['reason']== 'other']
choices = [1,2,3,4]
df['reason'] = np.select(conditions, choices)

conditions=[df['guardian'] == 'father',
          df['guardian'] == 'mother',
          df['guardian'] == 'other']
choices = [1,2,3]
df['guardian'] = np.select(conditions, choices)

In [11]:
df['Mjob'].value_counts()

5    258
2    136
1    135
3     72
4     48
Name: Mjob, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 34 columns):
school        649 non-null object
sex           649 non-null object
age           649 non-null int64
address       649 non-null object
famsize       649 non-null object
Pstatus       649 non-null object
Medu          649 non-null int64
Fedu          649 non-null int64
Mjob          649 non-null int64
Fjob          649 non-null int64
reason        649 non-null int64
guardian      649 non-null int64
traveltime    649 non-null int64
studytime     649 non-null int64
failures      649 non-null int64
schoolsup     649 non-null object
famsup        649 non-null object
paid          649 non-null object
activities    649 non-null object
nursery       649 non-null object
higher        649 non-null object
internet      649 non-null object
romantic      649 non-null object
famrel        649 non-null int64
freetime      649 non-null int64
goout         649 non-null int64
Dalc          649 non-null int64
Walc          649 non-null int64
health        649 non-null int64
absences      649 non-null int64
G1            649 non-null int64
G2            649 non-null int64
G3            649 non-null int64
alc           649 non-null int64
dtypes: int64(21), object(13)
memory usage: 172.5+ KB

In [15]:
df['alc']= df['Dalc']+df['Walc']

df['alc'].value_counts()

2     241
3     116
4      99
5      73
6      50
7      32
8      17
10     15
9       6
Name: alc, dtype: int64

need to answer why using this type of binning? How does it help answer our business problem.

In [17]:
# if >=6 then heavy drinker, 1
df['alc'].where(df['alc']>=6, 0, inplace = True)
df['alc'].where(df['alc']<=5, 1, inplace = True)

print(df['alc'].value_counts())
print(df['alc'].value_counts(normalize = True))

0    529
1    120
Name: alc, dtype: int64
0    0.8151
1    0.1849
Name: alc, dtype: float64

In [24]:
object_cols= df.select_dtypes(include=object).columns

In [25]:
# converting object columns to numeric 
for col in object_cols:
    df[col]= pd.to_numeric(df[col])
    
df.dtypes

school        int64
sex           int64
age           int64
address       int64
famsize       int64
Pstatus       int64
Medu          int64
Fedu          int64
Mjob          int64
Fjob          int64
reason        int64
guardian      int64
traveltime    int64
studytime     int64
failures      int64
schoolsup     int64
famsup        int64
paid          int64
activities    int64
nursery       int64
higher        int64
internet      int64
romantic      int64
famrel        int64
freetime      int64
goout         int64
Dalc          int64
Walc          int64
health        int64
absences      int64
G1            int64
G2            int64
G3            int64
alc           int64
dtype: object

In [26]:
df.isna().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
alc           False
dtype: bool

**Note:** How can you use this info during the modeling phase? Can you perform any variable significance to check this, for values only upto 18 years, or also more?

In [31]:
df[df['age'] >=19]['age'].count()

41